<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pelis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body ng-app="sampleApp" ng-controller="MoviesController">

    <h1>Peliculas</h1>

    <!-- Selector de Géneros -->
    <select ng-model="selectedGenre" ng-options="genre as genre.name for genre in genres" ng-change="updateMovies()">
        <option value="">Elige una Categoría</option>
    </select>

    <!-- Tabla de Películas -->
    <table class="table table-striped">
        <thead>
            <tr> <th>#</th><th>Titulo</th><th>Fecha</th><th>Detalles</th> </tr> 
        </thead>
        <tbody>
            <tr ng-repeat-start="movie in movies">
                <td>{{$index + 1}}</td>
                <td>{{movie.title}}</td>
                <td>{{movie.produced_date ? (movie.produced_date | date:'yyyy-MM-dd') : 'No disponible'}}</td>
                <td><a href="" ng-click="showMovieDetails(movie)">Detalles de Pelicula</a></td>
            </tr>
            <tr ng-repeat-end ng-if="selectedMovie && selectedMovie.slug === movie.slug">
                <td colspan="4"><div ng-include="'a2.html'"></div></td>
            </tr>
        </tbody>
    </table>

    <script>
        var sampleApp = angular.module('sampleApp', ['ngRoute']);

        sampleApp.controller('MoviesController', function($scope, $http) {
            $scope.genres = [];
            $scope.selectedGenre = [];
            $scope.selectedMovie = null;

            // Cargar géneros al iniciar
            $http.get('http://api.filmon.com/api/vod/genres').then(function(response) {
                $scope.genres = response.data.response;
            });

            // Función que se llama cuando se selecciona un género
            $scope.updateMovies = function() {
                if ($scope.selectedGenre && $scope.selectedGenre.slug) {
                    $http.get('http://api.filmon.com/api/vod/search?genre=' + $scope.selectedGenre.slug).then(function(response) {
                        $scope.movies = response.data.response;
                    }, function(error) {
                        console.error("Error al cargar películas:", error);
                    });
                }
            };

            $scope.showMovieDetails = function(movie) {
                if ($scope.selectedMovie === movie) {
                    $scope.selectedMovie = null; // Cierra a2.html si la misma película es seleccionada nuevamente
                } else {
                    $scope.selectedMovie = movie; // Muestra a2.html para la película seleccionada
                }
            };
        });
    </script>

</body>
</html>