<!DOCTYPE html>
<html>
<head>
    <title>Películas en cines</title>
    <!-- Incluye los archivos CSS de Bootstrap si no los tienes ya incluidos -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1>Películas en cines</h1>

    <div class="row">
        {% for movie in movies %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="card-img-top" alt="{{ movie.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">Fecha de lanzamiento: {{ movie.release_date }}</p>
                        <p class="card-text">{{ movie.overview }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Incluye los archivos JS de Bootstrap si no los tienes ya incluidos -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>