{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Aplicaciones de Internet</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' type="text/css" />
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // Cargar géneros al cargar la página
            $.get('http://api.filmon.com/api/vod/genres', function(data) {
                var genres = data.response; 
                genres.forEach(function(genre) {
                    $('#genres').append(new Option(genre.name, genre.slug)); // Usar el nombre del género como valor
                });
            });
        
            // Manejar cambio de género
            $('#genres').change(function() {
                var genreName = $(this).val(); // Obtener el nombre del género
                if (genreName) {
                    $.get('http://api.filmon.com/api/vod/search?genre=' + genreName, function(data) {
                        var movies = data.response;
                        var tbody = $('table tbody');
                        tbody.empty();
                        movies.forEach(function(movie) {
                            var imageUrl = movie.poster && movie.poster.url ? movie.poster.url : '{% static "images/noimage.jpg" %}';
                            var date = movie.produced_date ? movie.produced_date.split('T')[0] : 'No disponible';
                            var descripcion = movie.description ? movie.description : 'No disponible';
                            var detalles = movie.keywords ? movie.keywords : 'No Disponible';
                            var row = '<tr>' +
                                      '<td>' + movie.title + '</td>' +
                                      '<td>' + date + '</td>' +
                                      '<td>' + descripcion + '</td>' +
                                      '<td><img src="' + imageUrl + '" width="100"></td>' +
                                      '<td>' + detalles + '</td>' +
                                      '</tr>';
                            tbody.append(row);
                        });
                    });
                } else {
                    $('table tbody').empty();
                }
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <img src="{% static 'images/userena.svg' %}" class="rounded" style="width:200px"/>
            <h1>Aplicaciones de Internet</h1>
            <h3>Movies</h3>
            <form action="">
                <select name="genres" id="genres" >
                        <option value=""></option>
                </select>
            </form>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <td>Nombre</td>
                        <td>Año</td>
                        <td>Descripción</td>
                        <td>Imagen</td>
                        <td>Detalles</td>
                    </tr>
                </thead>
                <tbody>
                        <!-- :) -->
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>